$dark: #24292e;
$white: #ffffff;
$primary: #eb9486;

$enable-shadows: true;

@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald');

body {
  background-color: $white;
  color: $dark;
  font-family: 'Oswald', sans-serif;
}

.text-lobster {
  font-family: 'Lobster', cursive;
}

a:hover {
  text-decoration: none;
}

.bw-2 {
  border-width: 2px;
}

.border-transparent {
  border-color: transparent;
}

.border-gray {
  border-color: #d1d5da;
}

.mb-n1 {
  margin-bottom: -1px;
}
