$dark: #2b303a;
$white: #ffffff;
$primary: #ff715b;
$secondary: #ff715b;

$enable-shadows: true;

@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=PT+Mono|Oswald');

body {
  background-color: $white;
  color: $dark;
  font-family: 'Oswald', sans-serif;
}

.text-pt-mono {
  font-family: 'PT Mono', sans-serif;
}

a {
  transition: 0.2s ease-in;
}

a:hover {
  text-decoration: none;
}

.bw-2 {
  border-width: 2px;
}

.border-transparent {
  border-color: transparent;
}

.border-gray {
  border-color: #d1d5da;
}

.mb-n1 {
  margin-bottom: -1px;
}

.nav-link {
  margin-bottom: -1px;
  margin-right: 1em;
  border-bottom: 2px solid transparent;
  color: $dark;
  opacity: 0.5;
  transition: 0.2s ease-in;
}

.nav-link:hover {
  border-bottom-color: $dark;
  color: $dark;
  opacity: 1.0;
}

.active {
  opacity: 1.0;
  border-bottom-color: $secondary;
}

.active:hover {
  border-bottom-color: $secondary;
}

.w-4 {
  width: 4em;
}

.fs-4 {
  font-size: 4em;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}
